:root {
  // Typography
  --main-font: 'Poppins', sans-serif;

  // Colors
  --primary: #ef233c;
  --secondary: #fdf0d5;
  --tertiary: #03071e;
  --quaternary: #8d99ae;
  --quinary: #d3d3d3;
  --senary: #495057;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  color: var(--tertiary);
  line-height: 1.6;
  font-size: 1rem;
}